<style>

body {
	background-color: #1288E9;
}

.viewport {
    -webkit-perspective: 1600;
    -webkit-perspective-origin: 50% 200px;
    -webkit-transform: scale(0.50,0.50);
    -moz-perspective: 1600;
    -moz-perspective-origin: 50% 200px;
    -moz-transform: scale(0.50,0.50);
}

.custom-cube {
    position: relative;
    margin: 0 auto;
    top: 600px;
    height: 400px;
    width: 400px;
    -webkit-transition: -webkit-transform 50ms linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transition: -moz-transform 50ms linear;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateX(0deg) rotateY(0deg);
}


.custom-cube > div {
    position: absolute;
    height: 360px;
    width: 360px;
    padding: 20px;
    background-color: #E5001D;
    font-size: 1em;
    line-height: 1em;
    color: #fff;
    border: 0px solid #555;
    border-radius: 3px;
}

.custom-cube > div:first-child  {
	background-color: #AF0823;
    -webkit-transform: rotateX(90deg) translateZ(200px);
    -moz-transform: rotateX(90deg) translateZ(200px);
}

.custom-cube > div:nth-child(2) {
	background-color: #A70921;
    -webkit-transform: translateZ(200px);
    -moz-transform: translateZ(200px);
}

.custom-cube > div:nth-child(3) {
    -webkit-transform: rotateY(90deg) translateZ(200px);
    -moz-transform: rotateY(90deg) translateZ(200px);
    text-align: center;
}

.custom-cube > div:nth-child(4) {
    -webkit-transform: rotateY(180deg) translateZ(200px);
    -moz-transform: rotateY(180deg) translateZ(200px);
}

.custom-cube > div:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(200px);
    -moz-transform: rotateY(-90deg) translateZ(200px);
}

.custom-cube > div:nth-child(5) p {
    text-align: center;
    font-size: 2.77em;
    margin: 40px;
    line-height: 60px;
}

.custom-cube > div:nth-child(6) {
    -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
    -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
}


</style>
<img class="mask" src="<%= asset_path 'mask.png' %>" width="100%">
<div class="viewport">
	<div class="custom-cube">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>

<script>
$(".mask").on("click",function(){

    TweenMax.to(".custom-cube", 2, {rotationY: -1080, transformOrigin:"center"});
    TweenMax.to(".custom-cube", 1, {rotationX: -30, transformOrigin:"center", delay: 1});
    TweenMax.to(".custom-cube > div:first-child", 1, {rotationY: 80, z: -300, transformOrigin:"top", delay: 1.75});
    TweenMax.to(".custom-cube", 1, {y: -100});
    TweenMax.to(".mask", 1, {scale: 2});
});

</script>
