<div class="sparkle-one"><img src="<%= asset_path 'sparkle-one.png' %>" width="20"></div>
<div class="sparkle-two"><img src="<%= asset_path 'sparkle-two.png' %>" width="20"></div>
<div class="sparkle-three"><img src="<%= asset_path 'sparkle-three.png' %>" width="20"></div>

<div class="ellipse"></div>

<div class="cube-wrapper">
    <div class="cube">
      <div class="top">Top</div>
      <div class="right">Right</div>
      <div class="bottom">Bottom</div>
      <div class="left">Left</div>
      <div class="front">Front</div>
      <div class="back">Back</div>
    </div>
</div>

