<article class="viewport">
    <section class="cube">
    	<div></div>
    	<div></div>
    	<div></div>
    	<div></div>
    	<div></div>
    	<div></div>
	</section>
</article>

<div class="ellipse"><img src="<%= asset_path 'ellipse.png' %>" width="100%"></div>
