<!DOCTYPE html>
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
  <title>MsgRedboxCubeProto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>

<script>
    TweenMax.to(".cube-wrapper", 2, {scale: 3.5});
    TweenMax.to(".ellipse", 1, {scale: 10, delay: 1, opacity: 1});
    TweenMax.to(".cube", 2, {rotationY: 740, transformOrigin:"center"});
    TweenMax.to(".cube", 1, {rotationX: -60, rotationZ: 30, rotationY: -20, delay: 1});
</script>


</body>
</html>
